.imagesetup{
    background-color: rgb(209, 78, 100);
    /* color: rgba(182, 185, 179, 0.537); */
    color: antiquewhite;
    width: 100%;
    border: 50px;
	margin: 70;
	padding : 40px ;
}
.customStyles{
    font-size: 18px;
    
    text-align: center;
    padding: 20px;
    margin :30 px;
}
.navbar navbar-expand-lg bg-body-tertiary{
    font-size: 20000;
}
.navbar-nav me-auto mb-2 mb-lg-0{
    font-size: 250px;
}
.container{
    /* background-color: rgb(175, 57, 77); */
    color: rgb(228, 226, 224);
    font-size: medium;
    margin: 45px;
    padding: 50px;
}
.card-body{
    background-color: rgb(209, 78, 100);
    border: 5px solid rgb(158, 12, 92);
    color: white;
    padding: 
    320px;
    size: 40px;
}
.card-text{
    padding: 69px;
    margin: 50px;
    color: whitesmoke;
}
.card-title{
    color: whitesmoke;
    margin : 0px;
    padding: 0px;
}
.card-title{
    color: whitesmoke;
}